[client]
port		= 56306
socket		= /data2/mysql/mysql.sock

[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

event_scheduler = 1
federated
skip-name-resolve
expire_logs_days=2

#log-bin=/data2/mysql_log/mysql-bin
innodb_log_group_home_dir = /data2/mysql_log
datadir = /data2/mysql

socket		= /data2/mysql/mysql.sock


character-set-server=UTF8

log_bin_trust_function_creators =1
# generic configuration options




back_log = 5000
 
#skip-networking

max_connections = 12000
max_connect_errors = 100000
connect_timeout	= 10 



# Binary log/replication
log-bin
sync_binlog=0
sync_relay_log=1
relay-log-info-repository=TABLE
master-info-repository=TABLE
binlog_format=MIXED
#transaction-isolation=READ-COMMITTED
innodb_autoinc_lock_mode = 2

slave_compressed_protocol=1
#server-id=101
#binlog_do_db=COMMON
#binlog_do_db=ARENA01
#binlog_do_db=GUILD
#binlog_do_db=BOARD
#innodb_flush_log_at_trx_commit = 2

slave_parallel_workers = 10
innodb_flush_method=O_DIRECT

slow_query_log
long_query_time = 1
#log_output = TABLE
#general-log
#slow_query_log_file=/var/lib/mysql/slow-queries.log


#*** MyISAM Specific options
key_buffer_size = 32M
bulk_insert_buffer_size = 64M
myisam_sort_buffer_size = 128M
myisam_max_sort_file_size = 10G
myisam_repair_threads = 1



#memory 30~40
innodb_buffer_pool_size = 4G
innodb_file_per_table

innodb_log_buffer_size = 8M
innodb_log_file_size = 256M

# Total number of files in the log group. A value of 2-3 is usually good
# enough.
innodb_log_files_in_group = 3
innodb_max_dirty_pages_pct = 90
innodb_lock_wait_timeout = 120


[mysqldump]
# Do not buffer the whole result set in memory before writing it to
# file. Required for dumping very large tables
quick


[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size = 512M
sort_buffer_size = 512M
read_buffer = 8M
write_buffer = 8M

[mysqlhotcopy]
interactive-timeout


[mysqld_safe]
open-files-limit = 10240
